@media screen and (max-width:768px){
    header{
        flex-direction: column;
        
    }

    header > h1{
        
    }

    nav > a{
        font-size: 0.8em;
        
    }

    main{
        padding: 50px;
        margin-top: 0px;
    }

    h2{
        display: block;
        text-align: center;
    }

    button{
        display: block;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
        width: 200px;
        color: #E68050;
        background-color:#472584 ;
        border-radius: 20px;
    }

    .segundo-conteudo > img{
        display: none;
    }

    .segundo-conteudo-mobile{
        display: flex;
        height: 200px;
    }
}